/* Coolors Exported Palette - coolors.co/1c3d4e-8d6b64-5c7b8b-b2adab-88806b */

/* HSL */
$color1: hsla(200%, 47%, 21%, 1);
$color2: hsla(10%, 17%, 47%, 1);
$color3: hsla(200%, 20%, 45%, 1);
$color4: hsla(17%, 4%, 68%, 1);
$color5: hsla(43%, 12%, 48%, 1);

/* RGB */
$themeDarkBlue: rgba(28, 61, 78, 1);
$themeBrown: rgba(141, 107, 100, 1);
$themeLightBlue: rgba(92, 123, 139, 1);
$themeOffGray: rgba(178, 173, 171, 1);
$themeRust: rgba(136, 128, 107, 1);

$themeBackground: #F2F2F2;
$themeOffWhite: #FDFDFD;

$navbarBG: rgba(92, 123, 139, 0.3);

// .dark-blue { rgba(28, 61, 78, 1) };
// .brown { rgba(141, 107, 100, 1) };
// .light-blue { rgba(92, 123, 139, 1) };
// .off-gray { rgba(178, 173, 171, 1) };
// .rust { rgba(136, 128, 107, 1) };
